.services{
    position: relative;
    padding: var(--section-padding-top) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.title{
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 4rem;
    position: relative;
    display: inline-block;
    text-align: center;
}

.title::after{
     content: '';
     display: inline-block;
     position: absolute;
     top: calc(50% - 4px);
     left: -11vw;
     width: 10vw;
     height:8px;
     background-color: var(--primary-color);
}
.title::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(50% - 4px);
    right: -11vw;
    width: 10vw;
    height:8px;
    background-color: var(--primary-color);
}

.pageDesc{
    font-size: 1.6rem;
    width: 35%;
    text-align: center;
    line-height: 150%;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){

}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .title{
        font-size: 3.2rem;
        width: 60%;
    }
    .pageDesc{
        width: 70%;
    }
    .services{
        gap: 4vw;
    }
}