.help{
    position: relative;
    padding: var(--section-padding-top) 0;
}

.help h2{
    text-align: center;
    font-family: var(--secondary-font);
    font-size: 4rem;
    font-weight: 400;
}

.itemWrapper{
    padding-top: var(--section-padding-top);
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.item{
    width: 30%;
}

.item h3{
    font-size: 2rem;
    padding-bottom: 3vw;
}

.item h3 span{
    display: inline-block;
    padding-bottom: 1.5rem;
}

.item p{
    font-size: 1.3rem;
    line-height: 180%;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .item{
        width: 40%;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .itemWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15vw
    }
    
    .item{
        width: 75%;
    }
    
    .item h3{
        font-size: 2.5rem;
        padding-bottom: 6vw;
    }
    
    .item h3 span{
        display: inline-block;
        padding-bottom: 2rem;
    }
    
    .item p{
        font-size: 1.5rem;
        line-height: 180%;
    }
}